/** Sans-serif*/
@font-face {
	font-family: "GeneralSans";
	src: url("/src/assets/fonts/General_Sans/GeneralSans-Variable.woff2")
			format("woff2"),
		url("/src/assets/fonts/General_Sans/GeneralSans-Variable.woff")
			format("woff"),
		url("/src/assets/fonts/General_Sans/GeneralSans-Variable.ttf")
			format("truetype");
	font-weight: 200 700;
	font-display: swap;
	font-style: normal;
}

@font-face {
	font-family: "Ysabeau_Infant";
	src: url("/src/assets/fonts/Ysabeau_Infant/YsabeauInfant.ttf")
		format("truetype");
	font-weight: 100 900;
	font-style: normal;
}

@font-face {
	font-family: "Ysabeau_Infant-Italic";
	src: url("/src/assets/fonts/Ysabeau_Infant/YsabeauInfant-Italic.ttf")
		format("truetype");
	font-weight: 100 900;
	font-style: italic;
}

/**Serif*/
@font-face {
	font-family: "Literata";
	src: url("/src/assets/fonts/Literata/Literata.ttf") format("truetype");
	font-weight: 200 900;
	font-style: normal;
}

@font-face {
	font-family: "Literata-Italic";
	src: url("/src/assets/fonts/Literata/Literata-Italic.ttf") format("truetype");
	font-weight: 200 900;
	font-style: italic;
}
