//colours
$primary-Beige: #f5f5da;
$primary-Black: #12130f;
$secondary-Blue: #7facb5;

//screen sizes
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

//padding
$padding: 1rem;
$tablet-padding: 1.5rem;
$desktop-padding: 3rem;
