@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography";

.home {
	background-color: $primary-Beige;
	padding: 0 $padding 4rem;

	@include tablet {
		padding: 0 $tablet-padding 6rem;
	}

	@include desktop {
		padding: 0 $desktop-padding 8rem;
	}

	.hero {
		height: 100dvh;
		display: flex;
		flex-direction: column;
		padding: 6.1563rem 0 2rem; //account for fixed header height
		gap: 2rem;
		font-size: 0.875rem;

		@include tablet {
			padding: 7.1563rem 0 3rem; //account for fixed header height
			gap: 3rem;
			font-size: 1rem;
		}

		@include desktop {
			padding: 9.1563rem 0 4rem; //account for fixed header height
			gap: 4rem;
			font-size: 1.125rem;
		}

		.intro {
			font-weight: 300;
			line-height: 200%;
			flex-grow: 1;
			display: flex;
			flex-direction: column;
			justify-content: center;
			width: 80%;
			margin: 0 auto;
			font-size: inherit;

			&__header {
				font-family: "GeneralSans";
				font-weight: 400;
			}

			&__title {
				font-weight: 600;
			}

			&__description {
				display: flex;
				flex-direction: column;
				gap: 1rem;

				@include tablet {
					gap: 1.125rem;
				}
			}
		}

		&__select {
			display: flex;
			justify-content: space-between;
		}

		&__label {
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 0.5rem;

			&:hover {
				cursor: pointer;
			}
		}

		&__option {
			appearance: none; //remove default styling
			width: 0.625rem;
			height: 0.625rem;
			border-radius: 50%;
			border: 2px solid $primary-Black;

			&:checked {
				border-width: 5px;
			}
		}
	}

	.posts {
		display: flex;
		flex-direction: column;
		gap: 4rem;
		align-items: center;
		padding-top: 5rem;

		@include tablet {
			padding-top: 7rem;
		}

		@include desktop {
			padding-top: 9rem;
		}

		&__list {
			display: flex;
			flex-direction: column;
			gap: 5rem;

			@include tablet {
				gap: 6.5rem;
			}

			@include tablet {
				gap: 8rem;
			}
		}

		&__item {
			display: flex;
			flex-direction: column;
			gap: 1.5rem;

			@include tablet {
				flex-direction: row;
				align-items: center;
				gap: 2.5rem;
			}

			&--reverse {
				@include tablet {
					flex-direction: row-reverse;
				}
			}
		}

		&__image {
			width: 100%;
			border: 1px solid $primary-Black;

			@include tablet {
				flex: 0.5;
			}
		}

		&__info {
			display: flex;
			flex-direction: column;
			gap: 1rem;

			@include tablet {
				flex: 0.5;
			}
		}

		&__header {
			display: flex;
			flex-direction: column;
			gap: 0.25rem;
		}

		&__title {
			font-size: 1.5rem;
			font-weight: 400;

			@include tablet {
				font-size: 2rem;
			}
		}

		&__date {
			text-transform: uppercase;
			color: rgba($primary-Black, 0.6);
			font-size: 0.875rem;
		}

		&__intro {
			line-height: 165%;
			font-family: "Ysabeau_Infant", Verdana, sans-serif;

			@include tablet {
				font-size: 1.125rem;
			}
		}

		&__link {
			display: flex;
			gap: 0.375rem;
			font-weight: 600;
			text-decoration: underline;
			text-underline-offset: 2px;
			font-size: 0.875rem;

			&:hover img {
				animation: jump 0.5s linear infinite alternate;
			}

			@keyframes jump {
				0% {
					transform: translateY(0);
				}
				100% {
					transform: translateY(-5px);
				}
			}
		}

		&__button-container {
			background: $primary-Black;
		}

		&__button {
			padding: 0.375rem 0.625rem;
			color: $primary-Black;
			border: 1px solid $primary-Black;
			background-color: $secondary-Blue;
			font-weight: bold;
			font-size: 1.125rem;
			position: relative;
			bottom: 5px;
			left: -5px;

			&:active {
				animation: button-click 0.5s step-start;
			}

			@keyframes button-click {
				from {
					transform: translate(0, 0);
				}
				to {
					transform: translate(5px, 5px);
				}
			}
		}
	}
}
