@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography";

.home {
	background-color: $primary-Beige;
	padding: 0 $padding 4rem;

	@include tablet {
		padding: 0 $tablet-padding 6rem;
	}

	@include desktop {
		padding: 0 $desktop-padding 8rem;
	}

	.hero {
		min-height: calc(100vh - 4.4688rem);
		display: flex;
		align-items: center;
		padding: 1.5rem 0;

		&__title {
			font-size: 2rem;
			font-weight: 300;
			line-height: 165%;

			@include tablet {
				font-size: 2.5rem;
				line-height: 200%;
			}

			@include desktop {
				font-size: 3rem;
			}
		}
	}

	.posts {
		display: flex;
		flex-direction: column;
		gap: 4rem;
		align-items: center;

		&__list {
			display: flex;
			flex-direction: column;
			gap: 5rem;

			@include tablet {
				gap: 6.5rem;
			}

			@include tablet {
				gap: 8rem;
			}
		}

		&__item {
			display: flex;
			flex-direction: column;
			gap: 1.5rem;

			@include tablet {
				flex-direction: row;
				align-items: center;
				gap: 2.5rem;
			}

			&--reverse {
				@include tablet {
					flex-direction: row-reverse;
				}
			}
		}

		&__image {
			width: 100%;
			border: 1px solid $primary-Black;

			@include tablet {
				flex: 0.5;
			}
		}

		&__info {
			display: flex;
			flex-direction: column;
			gap: 1rem;

			@include tablet {
				flex: 0.5;
			}
		}

		&__header {
			display: flex;
			flex-direction: column;
			gap: 0.25rem;
		}

		&__title {
			font-size: 1.5rem;
			font-weight: 400;

			@include tablet {
				font-size: 2rem;
			}
		}

		&__date {
			text-transform: uppercase;
			color: rgba($primary-Black, 0.6);
			font-size: 0.875rem;
		}

		&__intro {
			line-height: 165%;
			font-family: "Ysabeau_Infant", Verdana, sans-serif;

			@include tablet {
				font-size: 1.125rem;
			}
		}

		&__link {
			display: flex;
			gap: 0.375rem;
			font-weight: 600;
			text-decoration: underline;
			text-underline-offset: 2px;
			font-size: 0.875rem;

			&:hover img {
				animation: jump 0.5s linear infinite alternate;
			}

			@keyframes jump {
				0% {
					transform: translateY(0);
				}
				100% {
					transform: translateY(-5px);
				}
			}
		}

		&__button-container {
			background: $primary-Black;
		}

		&__button {
			padding: 0.375rem 0.625rem;
			border: 1px solid $primary-Black;
			background-color: $secondary-Blue;
			font-weight: bold;
			font-size: 1.125rem;
			position: relative;
			bottom: 5px;
			left: -5px;

			&:active {
				animation: button-click 0.5s step-start;
			}

			@keyframes button-click {
				from {
					transform: translate(0, 0);
				}
				to {
					transform: translate(5px, 5px);
				}
			}
		}
	}
}
