@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.header {
	background-color: $primary-Black;
	color: $primary-Beige;
	padding: $padding;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 1.125rem;
	text-transform: uppercase;

	@include tablet {
		padding: 1rem $tablet-padding;
	}

	@include desktop {
		padding: 1.5rem $desktop-padding;
	}

	&__button {
		padding: 0.5rem;

		&--mobile {
			@include tablet {
				display: none;
			}
		}
	}

	&__icon {
		width: 1.125rem;
		height: 1.125rem;
	}

	.nav {
		display: none;

		@include tablet {
			display: block;
		}

		&__list {
			display: flex;
			align-items: baseline;
			gap: 2rem;
		}

		&__link {
			position: relative;

			&::after {
				content: "";
				position: absolute;
				bottom: -5px;
				left: 0;
				height: 2px;
				width: 0;
				background: $primary-Beige;
			}

			&:hover::after {
				animation: borderBottom 0.3s ease-out forwards alternate;
			}
		}

		@keyframes borderBottom {
			0% {
				width: 0;
			}
			100% {
				width: 100%;
			}
		}
	}
}
